[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2
[submodule "deps/luarocks"]
	path = deps/luarocks
	url = https://github.com/luarocks/luarocks
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/vaartis/tomlplusplus/
[submodule "deps/args"]
	path = deps/args
	url = https://github.com/taywee/args
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "deps/SDL_gpu"]
	path = deps/SDL_gpu
	url = https://github.com/grimfang4/sdl-gpu
[submodule "deps/vorbis"]
	path = deps/vorbis
	url = https://github.com/xiph/vorbis
[submodule "deps/ogg"]
	path = deps/ogg
	url = https://github.com/xiph/ogg
