[submodule "deps/sfml"]
	path = deps/sfml
	url = https://github.com/SFML/SFML
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog
